body {
    background-color: rgba(167, 47, 47, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
}

div {
    display: flex;
    justify-content: space-evenly
}

div div {
    flex-direction: column;
}

div h2 {
    text-align: center;
}

img {
    border-radius: 50px;
    border: 1px solid grey;
    height: 400px;
    width: 300px;
}